<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FastReport.Compat" version="2024.1.10" targetFramework="net48" />
  <package id="FastReport.OpenSource" version="2024.1.10" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.1620.0" targetFramework="net48" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net48" />
  <package id="SixLabors.Fonts" version="1.0.0" targetFramework="net48" />
  <package id="SixLabors.ImageSharp" version="2.1.5" targetFramework="net48" />
  <package id="SixLabors.ImageSharp.Drawing" version="1.0.0" targetFramework="net48" />
  <package id="SkiaSharp" version="2.88.6" targetFramework="net48" />
  <package id="SkiaSharp.NativeAssets.Linux.NoDependencies" version="2.88.6" targetFramework="net48" />
  <package id="SkiaSharp.NativeAssets.macOS" version="2.88.6" targetFramework="net48" />
  <package id="SkiaSharp.NativeAssets.Win32" version="2.88.6" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Resources.Extensions" version="7.0.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="5.0.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="7.0.0" targetFramework="net48" />
  <package id="System.Text.Json" version="7.0.3" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="ZXing.Net" version="0.16.9" targetFramework="net48" />
</packages>